<header class="header">
  <div class="row">
    <div class="columns tiny-12">
      <div class="header__content">
        <div class="logo">
          <img alt="logo" src="../../assets/img/icons/logo-header.svg" />
        </div>
        <div class="show">
          <a
            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO"
            target="_blank"
          >
            <img alt="show" src="../../assets/img/icons/Show.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
