<footer>
  <div class="container">
    <div class="row">
      <div class="columns tiny-12">
        <div class="top-line">
          <div class="logo-wrapper">
            <img alt="icon" src="../../assets/img/icons/Footer-logo.svg" />
            <p>Кабінет Міністрів України</p>
          </div>
          <div class="social-wrapper">
            <ul>
              <li>
                <a href="#" target="_blank"
                  ><img
                    alt="facebook"
                    class="white"
                    src="../../assets/img/icons/Footer-FB.svg"
                /></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><img
                    alt="twitter"
                    class="white"
                    src="../../assets/img/icons/Footer-twitter.svg"
                /></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><img
                    alt="youtube"
                    class="white"
                    src="../../assets/img/icons/Footer-Telegramm.svg"
                /></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><img
                    alt="youtube"
                    class="white"
                    src="../../assets/img/icons/Footer-Instagramm.svg"
                /></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><img
                    alt="youtube"
                    class="white"
                    src="../../assets/img/icons/Footer-Youtube.svg"
                /></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><img
                    alt="youtube"
                    class="white"
                    src="../../assets/img/icons/Footer-sms.svg"
                /></a>
              </li>
            </ul>
            <div class="footer-mail">
              <a href="mailto:pr@thedigital.gov.ua">pr@thedigital.gov.ua</a>
              <a href="mailto:hello@thedigital.gov.ua">
                hello@thedigital.gov.ua</a
              >
            </div>
          </div>
        </div>
        <div class="bottom-line">
          <div class="copyright-wrapper">
            <p>© 2020 Весь контент доступний за ліцензією</p>
            <p>
              Creative Commons Attribution 4.0 International license ,якщо не
              зазначено інше
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
