<section class="hero">
  <div class="row">
    <div class="columns tiny-12">
      <div class="hero__content">
        <h1 class="hero__content-title">
          Реформування системи<br />
          містобудування
        </h1>
        <a class="btn-play" href="#" target="_blank"
          ><span><img alt="icon" src="../../assets/img/icons/Play.svg" /></span>
          Відеотрансляція
        </a>
      </div>
    </div>
  </div>
</section>

<section class="scheme">
  <div class="row">
    <div class="columns tiny-12">
      <div class="scheme__content">
        <div class="item">
          <div class="item__number"></div>
          <h3 class="item__title">Старт</h3>
          <p class="item__text">Ліквідація ДАБІ</p>
          <p class="item__text">Створення Сервісної служби</p>
        </div>
        <div class="item">
          <div class="item__number"></div>
          <h3 class="item__title">Березень — Травень 2020</h3>
          <p class="item__text">Перехідний період</p>
          <p class="item__text">
            Мораторій на інспекційний
            <br />держконтроль
          </p>
        </div>
        <div class="item">
          <div class="item__number"></div>
          <h3 class="item__title">Червень 2020</h3>
          <p class="item__text">Створення ДІМ</p>
          <p class="item__text">Запуск нового реєстру</p>
        </div>
        <div class="item">
          <div class="item__number"></div>
          <h3 class="item__title">Вересень 2020</h3>
          <p class="item__text lh27">
            Державне агентство з питань <br />
            технічного регулювання у <br />
            містобудуванні
          </p>
        </div>
        <div class="item">
          <div class="item__number"></div>
          <h3 class="item__title">Січень 2021</h3>
          <p class="item__text lh27">
            Запровадження <br />
            страхування
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="iframe-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube-nocookie.com/embed/9YffrCViTVk"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</section>
