.main[_ngcontent-serverApp-c2] {
  background: #fff;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
}
.btn-play span {
  display: inline-block;
  margin-right: 10px;
}

.btn-play {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  height: 56px;
  width: 235px;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 40px;
  background: #000;
  margin-top: 50px;
  letter-spacing: -0.02em;
}
.hero__content-title {
  font-size: 56px;
  line-height: 67px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tiny-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.column,
.columns {
  flex: 1 1 0px;
  padding-right: 1rem;
  padding-left: 1rem;
  min-width: 0;
}
.row {
  width: 100%;
  max-width: 72rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}
.hero {
  background: url(../../assets/theme/hero-bg.jpg) 0 0 / cover no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 100px 0;
}

.scheme__content .item__text.lh27 {
  line-height: 27px;
}
.scheme__content .item__text {
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
p {
  margin: 0;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.scheme__content .item__number {
  background: #f4f4f4;
  display: inline-block;
  border-radius: 30px;
  width: 63px;
  height: 37px;
  position: relative;
  margin-bottom: 20px;
}
.scheme__content {
  display: flex;
  flex-wrap: wrap;
  counter-reset: title;
  margin-right: -32px;
}
.scheme {
  background: #fff;
  color: #000;
  display: flex;
  padding: 100px 0 46px;
  overflow: hidden;
}
.scheme__content .item__number:before {
  counter-increment: title;
  content: "0" counter(title);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
}
.scheme__content .item__title {
  font-size: 36px;
  line-height: 43px;
  color: #000;
  font-weight: 400;
  margin-bottom: 30px;
}
.scheme__content .item__text + .item__text {
  margin-top: 24px;
}

/* video iframe */
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.over {
  background: url(../../assets/img/VideoOver.jpg) 0 0 / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
}
.over-text {
  position: absolute;
  margin-left: 389px;
  margin-top: 86px;
  font-family: e-Ukraine;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.over-text h2 {
  font-size: 56px;
  line-height: 67px;
}
.over-play {
  background: url(../../assets/img/icons/Subtract.svg) 0 0 / cover no-repeat;

  width: 116px;
  height: 116px;
  margin: auto;
}
.video-section {
  margin-bottom: 100px;
}
@media print, screen and (max-width: 79.99875em) {
  .over-text {
    margin-left: 129px;
    margin-top: 46px;
  }
  .over-text h2 {
    font-size: 36px;
    line-height: 47px;
  }
}
@media print, screen and (max-width: 64.06125em) {
  .over-text {
    margin-left: 89px;
    margin-top: 36px;
  }
  .over-text h2 {
    font-size: 36px;
    line-height: 47px;
  }
  .video-section {
    margin-bottom: 70px;
  }
}
@media print, screen and (max-width: 47.99875em) {
  .over-text {
    font-size: 14px;
    line-height: 17px;
    margin-left: 39px;
    margin-top: 6px;
  }
  .over-text h2 {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.02em;
  }
  .over-play {
    width: 82px;
    height: 82px;
  }
  .video-section {
    margin-bottom: 50px;
  }
}
/* /video iframe */

/* section finger */
#finger {
  position: relative;
  width: 129px;
  height: 129px;
  /* background: url(../../assets/img/icons/Finger.svg); */
}
.question-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "text text .";
}
.text-wrap {
  margin-left: 160px;
  grid-area: text;
  /* max-width: 640px; */
  font-family: e-Ukraine;
  font-style: normal;
  font-weight: normal;
}
.text-wrap h2 {
  font-size: 56px;
  line-height: 67px;
}
.text-wrap p {
  font-size: 18px;
  line-height: 22px;
  /* max-width: 544px; */
  margin-top: 10px;
}
.finger-wrap {
  margin-left: 144px;
  display: flex;
}
.finger-wrap img {
  margin: auto;
}
#finger {
  animation: MoveUpDown 3s linear infinite;

  left: 0;
  bottom: 0;
}
@keyframes MoveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 100px;
  }
}

@media print, screen and (max-width: 47.99875em) {
  .question-section-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      "text"
      ".";
  }
  .text-wrap {
    margin-left: 16px;
  }
}

/* /section finger */

/* contact */
.contacts-frame .contacts-item .item-left img {
  margin-right: 30px;
  position: relative;
  top: 8px;
}
.contacts-frame .contacts-item .item-right-icons a {
  display: block;
}
.contacts-frame .contacts-item .item-right-icons {
  display: flex;
  align-items: center;
}
.contacts-frame .contacts-item .item-right-label {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
}
.contacts-frame .contacts-item .item-left h3 {
  font-size: 36px;
  line-height: 43px;
}
.contacts-frame .contacts-item .item-left img {
  margin-right: 30px;
  position: relative;
  top: 8px;
}
img {
  display: block;
  max-width: 100%;
}
.contacts-frame .contacts-item .item-left {
  display: flex;
  align-items: flex-start;
  flex-basis: 400px;
  flex-shrink: 0;
  margin-right: 160px;
}
.contacts-item {
  display: flex;
  align-items: center;
  padding: 65px 20px;
}
.item-right-label {
  font-family: e-Ukraine;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}
.item-right p {
  font-family: e-Ukraine;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.9;
}
.messenger {
  display: flex;
}
.messenger img {
  margin-left: 22px;
}
/* /contact */
/* subscribe */
.subscribe-button {
  background: #000000;
  border-radius: 40px;
}
.subscribe-button {
  left: calc(50% - 198.79px / 2 + 258.93px);
  top: calc(50% - 24px / 2 + 1341.5px);
  height: 64px;
  width: 294px;
  font-family: e-Ukraine;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.subscribe-button span {
  margin: auto;
}
.subscribe_container {
  display: flex;
  height: 100px;
  background: linear-gradient(0deg, #ffcd4e, #ffcd4e),
    url(../../assets/img/Subscribe.jpg);
  height: 452px;
}
.subscribe-content {
  margin: auto;
  padding: 5px;
  flex: 0 1;
}
.subscribe-content p {
  margin-top: 21px;
}
.subscribe_left {
  font-size: 18px;
  line-height: 150%;
}
.subscribe_left h2 {
  font-size: 56px;
  line-height: 120%;
  /* or 67px */

  letter-spacing: -0.02em;
}
.user-box {
  position: relative;
}
.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  background: transparent;
}
.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  line-height: 22px;
  color: #000000;

  opacity: 0.5;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label {
  top: -20px;
  left: 0;
  color: #000000;

  opacity: 0.5;
  font-size: 12px;
}
@media print, screen and (max-width: 47.99875em) {
  .subscribe_container {
    flex-direction: column;
  }
  .subscribe-button {
    width: 184px;
    height: 48px;
  }
  .subscribe-right {
    padding: 28px;
  }
}

/* /subscribe */

/* style contact */
.contacts-frame {
  background: #fffaf4;
  padding: 20px 0 35px;
}
.contacts-frame .contacts-item {
  display: flex;
  align-items: center;
  padding: 65px 20px;
}
@media screen and (max-width: 61.9375em) {
  .contacts-frame .contacts-item {
    padding: 65px 0;
  }
}
@media print, screen and (max-width: 47.99875em) {
  .contacts-frame {
    padding: 0 0 10px;
  }
  .contacts-frame .contacts-item {
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    padding: 50px 0 40px;
  }
}
.contacts-frame .contacts-item + .contacts-item {
  border-top: 2px solid #000;
}
.contacts-frame .contacts-item .item-left {
  display: flex;
  align-items: flex-start;
  flex-basis: 400px;
  flex-shrink: 0;
  margin-right: 160px;
}
.contacts-frame .contacts-item .item-left img {
  margin-right: 30px;
  position: relative;
  top: 8px;
}
.contacts-frame .contacts-item .item-left h3 {
  font-size: 36px;
  line-height: 43px;
}
@media screen and (max-width: 61.9375em) {
  .contacts-frame .contacts-item .item-left {
    margin-right: 75px;
    flex-basis: 350px;
  }
  .contacts-frame .contacts-item .item-left h3 {
    font-size: 30px;
    line-height: 38px;
  }
}
@media print, screen and (max-width: 29.99875em) {
  .contacts-frame .contacts-item .item-left h3 br {
    display: none;
  }
}
.contacts-frame .contacts-item .item-right-label {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
}
@media print, screen and (max-width: 47.99875em) {
  .contacts-frame .contacts-item .item-left {
    margin-right: 0;
    flex-basis: auto;
    flex-direction: column;
  }
  .contacts-frame .contacts-item .item-left img {
    top: 0;
    margin-right: 0;
  }
  .contacts-frame .contacts-item .item-left h3 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contacts-frame .contacts-item .item-right-label {
    display: none;
  }
}
.contacts-frame .contacts-item .item-right-icons {
  display: flex;
  align-items: center;
}
.contacts-frame .contacts-item .item-right-icons a {
  display: block;
}
.contacts-frame .contacts-item .item-right-icons a + a {
  margin-left: 22px;
}
.contacts-frame .contacts-item .item-right-email {
  color: #000;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.9;
}
@media print, screen and (max-width: 47.99875em) {
  .contacts-frame .contacts-item .item-right-icons a + a {
    margin-left: 20px;
  }
  .contacts-frame .contacts-item .item-right-email {
    font-size: 20px;
    line-height: 24px;
    opacity: 1;
  }
}
.contacts-frame .contacts-item .item-right-phone {
  display: block;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
@media print, screen and (max-width: 47.99875em) {
  .contacts-frame .contacts-item .item-right-phone {
    font-size: 20px;
    line-height: 24px;
  }
}
/* /style contact */
/* style */
.scheme {
  background: #fff;
  color: #000;
  display: flex;
  padding: 100px 0 46px;
  overflow: hidden;
}
.scheme__content {
  display: flex;
  flex-wrap: wrap;
  counter-reset: title;
  margin-right: -32px;
}
.scheme__content .item {
  display: flex;
  flex-direction: column;
  max-width: 352px;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-right: 32px;
  margin-bottom: 74px;
}
@media print, screen and (max-width: 79.99875em) {
  .scheme__content {
    margin-right: 0;
  }
  .scheme__content .item {
    width: 33.33333%;
    margin-right: 0;
    padding-right: 20px;
    max-width: 100%;
  }
}
@media print, screen and (max-width: 64.06125em) {
  .scheme {
    padding: 60px 0 20px;
  }
  .scheme__content .item {
    width: 50%;
  }
}
@media print, screen and (max-width: 47.99875em) {
  .scheme {
    padding: 55px 0 14px;
  }
  .scheme__content .item {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 40px;
    padding-right: 0;
  }
}
.scheme__content .item__number {
  background: #f4f4f4;
  display: inline-block;
  border-radius: 30px;
  width: 63px;
  height: 37px;
  position: relative;
  margin-bottom: 20px;
}
.scheme__content .item__number:before {
  counter-increment: title;
  content: "0" counter(title);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
}
.scheme__content .item__title {
  font-size: 36px;
  line-height: 43px;
  color: #000;
  font-weight: 400;
  margin-bottom: 30px;
}
@media print, screen and (max-width: 64.06125em) {
  .scheme__content .item__title {
    font-size: 32px;
    line-height: 1.4;
  }
}
@media print, screen and (max-width: 47.99875em) {
  .scheme__content .item__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
}
.scheme__content .item__text {
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
@media print, screen and (max-width: 64.06125em) {
  .scheme__content .item__text {
    font-size: 16px;
    line-height: 19px;
  }
}
@media print, screen and (max-width: 47.99875em) {
  .scheme__content .item__text {
    font-size: 14px;
    line-height: 17px;
  }
}
.scheme__content .item__text.lh27 {
  line-height: 27px;
}
.scheme__content .item__text + .item__text {
  margin-top: 24px;
}

/* Style.hero */
.hero {
  background: url(../../assets/theme/hero-bg.jpg) 0 0 / cover no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 100px 0;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__content-title {
  font-size: 56px;
  line-height: 67px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
@media print, screen and (max-width: 64.06125em) {
  .hero__content-title {
    font-size: 48px;
    line-height: 1.4;
  }
}
.hero__content .btn-play {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  height: 56px;
  width: 235px;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 40px;
  background: #000;
  margin-top: 50px;
  letter-spacing: -0.02em;
}
@media print, screen and (max-width: 47.99875em) {
  .hero__content-title {
    letter-spacing: -0.02em;
    font-size: 30px;
    line-height: 36px;
  }
  .hero__content .btn-play {
    height: 48px;
    font-size: 13px;
    margin-top: 40px;
    width: 211px;
  }
}
.hero__content .btn-play span {
  display: inline-block;
  margin-right: 10px;
}
/* /Style.hero */

/* Style.scheme */
.scheme[_ngcontent-serverApp-c5] {
  background: #fff;
  color: #000;
  display: flex;
  padding: 100px 0 46px;
  overflow: hidden;
}
.scheme__content[_ngcontent-serverApp-c5] {
  display: flex;
  flex-wrap: wrap;
  counter-reset: title;
  margin-right: -32px;
}
.scheme__content[_ngcontent-serverApp-c5] .item[_ngcontent-serverApp-c5] {
  display: flex;
  flex-direction: column;
  max-width: 352px;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-right: 32px;
  margin-bottom: 74px;
}
@media print, screen and (max-width: 79.99875em) {
  .scheme__content[_ngcontent-serverApp-c5] {
    margin-right: 0;
  }
  .scheme__content[_ngcontent-serverApp-c5] .item[_ngcontent-serverApp-c5] {
    width: 33.33333%;
    margin-right: 0;
    padding-right: 20px;
    max-width: 100%;
  }
}
@media print, screen and (max-width: 64.06125em) {
  .scheme[_ngcontent-serverApp-c5] {
    padding: 60px 0 20px;
  }
  .scheme__content[_ngcontent-serverApp-c5] .item[_ngcontent-serverApp-c5] {
    width: 50%;
  }
}
@media print, screen and (max-width: 47.99875em) {
  .scheme[_ngcontent-serverApp-c5] {
    padding: 55px 0 14px;
  }
  .scheme__content[_ngcontent-serverApp-c5] .item[_ngcontent-serverApp-c5] {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 40px;
    padding-right: 0;
  }
}
.scheme__content[_ngcontent-serverApp-c5]
  .item__number[_ngcontent-serverApp-c5] {
  background: #f4f4f4;
  display: inline-block;
  border-radius: 30px;
  width: 63px;
  height: 37px;
  position: relative;
  margin-bottom: 20px;
}
.scheme__content[_ngcontent-serverApp-c5]
  .item__number[_ngcontent-serverApp-c5]:before {
  counter-increment: title;
  content: "0" counter(title);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
}
.scheme__content[_ngcontent-serverApp-c5]
  .item__title[_ngcontent-serverApp-c5] {
  font-size: 36px;
  line-height: 43px;
  color: #000;
  font-weight: 400;
  margin-bottom: 30px;
}
@media print, screen and (max-width: 64.06125em) {
  .scheme__content[_ngcontent-serverApp-c5]
    .item__title[_ngcontent-serverApp-c5] {
    font-size: 32px;
    line-height: 1.4;
  }
}
@media print, screen and (max-width: 47.99875em) {
  .scheme__content[_ngcontent-serverApp-c5]
    .item__title[_ngcontent-serverApp-c5] {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
}
.scheme__content[_ngcontent-serverApp-c5] .item__text[_ngcontent-serverApp-c5] {
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
@media print, screen and (max-width: 64.06125em) {
  .scheme__content[_ngcontent-serverApp-c5]
    .item__text[_ngcontent-serverApp-c5] {
    font-size: 16px;
    line-height: 19px;
  }
}
@media print, screen and (max-width: 47.99875em) {
  .scheme__content[_ngcontent-serverApp-c5]
    .item__text[_ngcontent-serverApp-c5] {
    font-size: 14px;
    line-height: 17px;
  }
}
.scheme__content[_ngcontent-serverApp-c5]
  .item__text.lh27[_ngcontent-serverApp-c5] {
  line-height: 27px;
}
.scheme__content[_ngcontent-serverApp-c5]
  .item__text[_ngcontent-serverApp-c5]
  + .item__text[_ngcontent-serverApp-c5] {
  margin-top: 24px;
}
/* /Style.scheme */
@media print, screen and (max-width: 320px) {
  .text-wrap h2 {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.02em;
  }
  .text-wrap p {
    font-size: 14px;
    line-height: 17px;
  }
  .over-play {
    width: 52px;
    height: 52px;
  }
  .over-text {
    font-size: 14px;
    line-height: 17px;
    margin-left: 9px;
    margin-top: -14px;
  }
  #finger {
    width: 103px;
    height: 102px;
  }
  .subscribe_left h2 {
    font-size: 26px;
    line-height: 31px;
  }
  .subscribe_left p {
    font-size: 14px;
    line-height: 150%;
  }
}
@media print, screen and (max-width: 425px) {
  .text-wrap h2 {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.02em;
  }
  .text-wrap p {
    font-size: 14px;
    line-height: 17px;
  }
  .over-play {
    width: 52px;
    height: 52px;
  }
  .over-text {
    font-size: 14px;
    line-height: 17px;
    margin-left: 9px;
    margin-top: -14px;
  }
  #finger {
    width: 103px;
    height: 102px;
  }
  .subscribe_left h2 {
    font-size: 26px;
    line-height: 31px;
  }
  .subscribe_left p {
    font-size: 14px;
    line-height: 150%;
  }
}
@media print, screen and (max-width: 768px) {
  .text-wrap {
    margin-left: 80px;
  }
  .video-section {
    margin-bottom: 0px;
  }
  .finger-wrap {
    margin-left: 54px;
    display: flex;
  }
}
.error {
  border: 2px solid red!important;
}
